{% extends "base.html.twig" %}

{% block title %}Accueil - {{parent()}}{% endblock %}






{% block body %}
<div class="landing">
        <div class= 'container'>
            <h1>site e commerce</h1>
                <p>Site crée il y a 10 ans le gogo site est un site de vente de produit en ligne</p>
                
            <h2> evenements</h2>
                <p>Rejoignez nous pour profiter de nos reductions sur nos produits mis en vente</p>
                <a href="" class="btn btn-primary">evenement</a>
        </div>
 </div>

{% endblock %}